---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<!-- ブラウザ依存なのか、チュートリアル記載のコードでは文字化けが発生。Brave、Chromeバージョン133にて実行した場合。chromiumに原因がある？文字コードのUTF-8指定でとりあえず表示できることを確認 -->
<!-- <head>
  <meta charset="UTF-8" />
</head> -->

<Layout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>著者: {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
</Layout>